/* === fonte e formatação geral === */
html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
section {
  max-width: 100%;
  box-sizing: border-box;
}

/* === header === */
header {
  box-shadow: 0px 8px 12px -8px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1.5vw;
  font-weight: 500;
  background-color: #ffffff;
}

header li {
  margin: 2vw 0;
  color: #000000;
}

.btn-log {
  color: #fbbc05;
}

.btn-header {
  display: inline-block;
  padding: 2vw;
  background-color: #fbbc05;
  color: #ffffff;
  border-radius: 10px;
}

/* === banner === */
.banner {
  background: url(../images/banner-image.png) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 0 5vw;
}

.banner h1 {
  color: #252b42;
  font-size: 2rem;
  font-weight: 600;
}

.banner p {
  color: #737373;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1.7vw 0 6vw 0;
  margin: 3vw 0vw 1vw 0vw;
}

.banner .downloads .btn {
  background-color: #252b42;
  color: #ffffff;
  font-weight: 250;
  font-size: 1.3rem;
  padding: 3vw 5vw;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.banner .downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vw;
}
.banner .downloads .btn:last-child {
  margin: 3vw 0.7vw 2vw 0;
}
.banner img:last-child {
  display: block;
  margin: 0 auto;
  width: 13rem;
  max-width: 100%;
  height: auto;
}
.banner .phone {
  width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* === Ready === */

.ready {
  text-align: center;
  margin: 1vw;
}
.ready h2 {
  color: #252b42;
  font-size: 2rem;
  font-weight: 900;
  padding: 3vw 0vw 1vw 0vw;
}
.ready p {
  color: #737373;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 2vw 2vw 10vw 2vw;
}
.ready .phones {
  width: 100%;
}
.ready .phones img {
  position: relative;
  display: inline-block;
  width: 30%;
  margin: 0 auto;
}
.ready .phones::before {
  content: "";
  position: absolute;
  width: 300px;
  max-width: 320px;
  height: auto;
  background-color: #ffc107;
  border-radius: 50%;
  top: 20%;
  left: -20%;
  z-index: -2;
}

@media only screen and (min-width: 600px) {
  main {
    padding-top: 95.24px;
  }
  /* === header === */
  header {
    font-size: 1.2rem;
    display: flex;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  header ul {
    display: flex;
    align-items: center;
    gap: 2vw;
  }
  header li {
    margin: 1vw 1vw 1.2vw 1vw;
  }
  .btn-header {
    padding: 0.7vw 1.2vw;
  }
  header img {
    height: 2.5vw;
  }
  /* === banner === */
  .banner {
    display: flex;
    text-align: justify;
    align-items: center;
  }
  .banner .container-banner {
    margin: 0 20vw 0 4vw;
  }
  .banner h1 {
    font-size: 2.7rem;
    line-height: 1.4;
  }
  .banner p {
    font-size: 0.8rem;
    padding: 1vw 0 3vw 0;
  }
  .banner .downloads {
    flex-direction: row;
    justify-content: space-around;
    gap: 2vw;
  }
  .banner .downloads .btn {
    padding: 1.5vw 3vw;
    font-size: 1.2rem;
  }
  .banner .downloads .btn:last-child {
    margin: 0;
  }
  .banner img:last-child {
    width: 330px;
    height: auto;
    margin: auto 0;
    padding: 4vw 0;
  }

  /* === Ready === */
  .ready h2 {
    font-size: 3rem;
  }
  .ready .container-ready {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ready .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    text-align: left;
  }
}
.ready .card-features {
  display: flex;
  flex-direction: column;
}
.ready .background-cards {
  width: 50px;
  height: auto;
}
.ready p {
  font-size: 1.1rem;
}
